.button {
 background: inherit;
 border: 1px solid #555555;
 color: #555555;
 cursor: pointer;
 font-weight: 600;
 margin-left: 1.3rem;
 outline:none;
 padding: 1.3rem;
 transition: background .2s ease, transform .2s ease;
 &:hover, &:focus{
  background: #ff4040;
 }
 &:active {
  background: #992626;
  transform: scale(1.5);
 }
}

.button__round {
 border-radius: 50%;
 height:4rem;
 width: 4rem;
}

.button--position-0 {
 color: white;
 border-color: white;
}

.button--position-1 {
 color: white;
 border-color: white;
}

.button--position-2, .button--position-3, .button--position-4, .button--position-5,
.button--position-6, .button--position-7, .button--position-8{
 color: white;
 border-color: white;
}
