.item {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-bottom: 1.3rem;
  padding: 1.3rem;
}

.item__message{
  color: red;
  font-size: 2rem;
  font-style: italic;
  font-weight:300;
  text-align: center;
}

.item__head {
  font-weight: normal;
  color: white;
  background: $titleBlue;
  border-color: $titleBlue-alt;
}

.item--position-2 {
  color: white;
  background: $red;
  border-color: $red-alt;
}

.item--position-0 {
  color: white;
  background: $green;
  border-color: $green-alt;
}

.item--position-1 {
  color: white;
  background: $blue;
  border-color: $blue-alt;
}

.item--position-3 {
  color: white;
  background: $red3;
  border-color: $red3-alt;
}

.item--position-4 {
  color: white;
  background: $red4;
  border-color: $red4-alt;
}

.item--position-5 {
  color: white;
  background: $red5;
  border-color: $red5-alt;
}

.item--position-6 {
  color: white;
  background: $red6;
  border-color: $red6-alt;
}

.item--position-7 {
  color: white;
  background: $red7;
  border-color: $red7-alt;
}

.item--position-8 {
  color: white;
  background: $red8;
  border-color: $red8-alt;
}
