.sideBar {
  position: fixed;
  height: 100%;
  width: 15rem;
  background: #ffffff;
  color: #3498db;
  border: 1px solid #eaeded;
  h3 {
    padding: 1.3rem 1.3rem 1.3rem 3.0rem;
    background: #d6eaf8;
    border-bottom: 1px solid #eaeded;
  }
  a {
    color: #3498db;
    padding: 1.3rem 1.3rem 1.3rem 3.0rem;
    display: block;
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
    color: #2874A6;
  }
}